@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-inverse-on-surface: #f4f0ef;
  --color-on-tertiary-fixed-variant: #394857;
  --color-surface-variant: #e5e2e1;
  --color-tertiary-container: #0d1d2a;
  --color-primary-container: #1c1b1b;
  --color-surface-container-highest: #e5e2e1;
  --color-secondary-container: #c8f17a;
  --color-surface: #fdf8f8;
  --color-primary: #000000;
  --color-surface-container-lowest: #ffffff;
  --color-background: #fdf8f8;
  --color-inverse-primary: #c8c6c5;
  --color-on-background: #1c1b1b;
  --color-secondary-fixed-dim: #add461;
  --color-tertiary-fixed: #d4e4f6;
  --color-on-tertiary-fixed: #0d1d2a;
  --color-primary-fixed-dim: #c8c6c5;
  --color-outline-variant: #c4c7c7;
  --color-on-secondary-container: #4e6e00;
  --color-on-surface-variant: #444748;
  --color-surface-container-low: #f7f3f2;
  --color-on-primary-container: #858383;
  --color-on-primary-fixed-variant: #474746;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-error: #ba1a1a;
  --color-on-error-container: #93000a;
  --color-surface-container: #f1edec;
  --color-surface-tint: #5f5e5e;
  --color-outline: #747878;
  --color-surface-dim: #ddd9d8;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-secondary-fixed: #c8f17a;
  --color-on-surface: #1c1b1b;
  --color-tertiary: #000000;
  --color-inverse-surface: #313030;
  --color-tertiary-fixed-dim: #b8c8da;
  --color-on-tertiary: #ffffff;
  --color-on-primary-fixed: #1c1b1b;
  --color-primary-fixed: #e5e2e1;
  --color-surface-container-high: #ebe7e6;
  --color-on-secondary-fixed: #131f00;
  --color-on-tertiary-container: #768696;
  --color-secondary: #496800;
  --color-surface-bright: #fdf8f8;
  --color-on-secondary-fixed-variant: #364e00;

  --font-display-lg: "Manrope", sans-serif;
  --font-headline-lg-mobile: "Manrope", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-headline-lg: "Manrope", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-headline-md: "Manrope", sans-serif;
  --font-caption: "Inter", sans-serif;

  --spacing-stack-sm: 0.5rem;
  --spacing-stack-md: 1rem;
  --spacing-stack-lg: 1.5rem;
  --spacing-stack-xl: 2.5rem;
  --spacing-section-gap: 4rem;
  --spacing-container-margin: 1rem;
  --spacing-gutter: 1rem;
}

@layer base {
  body {
    @apply bg-background text-on-background font-body-md antialiased min-h-screen flex flex-col;
  }
}
